# Absolutely NO copyrighted Game ROMs.
*.ndd
__pycache__/
*.py[cod]
*.egg-info/
dist/

# No manifestations.
*.json
*.yaml

# None of these shit
*.bin

# Generated workspaces.
extracted/
split/
split-*/
